---
import ImgKvWebpPc from "@/assets/img/img_kv_pc.webp";
import ImgKvPc from "@/assets/img/img_kv_pc.jpg";

type Props = {
  text: string;
};

const { text, ...props } = Astro.props;
---

<div class="l-heading">
  <div class="l-heading__inner">
    <div class="l-heading__title">
      <h1 class="l-heading__titleText">{text}</h1>
    </div>
  </div>
  <div class="l-heading__background">
    <picture>
      <source srcset={ImgKvWebpPc.src} type="image/webp" />
      <img
        src={ImgKvPc.src}
        alt="l-heading"
        width={ImgKvPc.width}
        height={ImgKvPc.height}
        decoding="async"
        loading="eager"
      />
    </picture>
  </div>
</div>
